<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Form</h1>
    <form method="post" action="/new">
      <label for="whoWroteThis">Name:</label>
      <input type="text" id="whoWroteThis" name="whoWroteThis" required>
      <label for="whatTheySaid">Text:</label>
      <input type="text" id="whatTheySaid" name="whatTheySaid" required>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>