.article-header{
    width: 70%;
}

.article-imgs{
    height: 400px;
    width: fit-content;
    
}

.article-content{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.article-content > div{
    margin-top: 15px;
    margin-bottom: 15px;
}