.chat-section {
  width: 35vh;
}

.text-area {
  height: 16vh;
  overflow-y: scroll;
}

.message-form {
  display: flex;
}

.name-input,
.message-input {
  width: 10vh;
}

.user-name {
  font-size: 1.5vh;
  font-weight: 1000;
}

.sms {
  font-size: 1.5vh;
}

.message-btn {
  height: 4vh;
}
