 .hp-content{
}

.hp-content-card{
    display: flex;
    background: rgb(62, 62, 62);
    margin: 1vh;
    height: 175px;
    overflow: hidden;    
}

.hp-content-img{
    display: flex;
    align-items: center;
}

.hp-content-card img {
    width: 35vw;
    height: auto;
}

.hp-content-details {
    margin: 1vh;
    padding-left: 10px;
}

h4{
    margin-block-start: 1.5em;
    margin-block-end: .5em;
}

h6{
    font-size: .7em;
    margin-block-end: .8em;
    color: rgb(64, 64, 64);
}

@media (min-width: 950px){
    .hp-content{
        width: 950px;
    }
    .hp-content-card img {
        width: 350px;
    }
}
/*
@media (max-width: 650px){
    
} */