@import "chatArea";
@import "stats";
@import "itemShop";
@import "hpContent";
@import "article";
@import "statsDisplay";

*{
  margin: 0;
  color: white;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(27, 27, 27);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: rgb(64, 64, 64);
  border-radius: 15px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0c0c0c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100%; */
}

.bg-full{
  position: relative;
  bottom: 50px;
  height: 400px;
  background-image: url("https://i.ytimg.com/vi/CyNEgibVmDQ/sddefault.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 620px; 
  z-index: -1;
}

.bg-full::before{
  content: '';
  position: absolute;
  top: 77px;
  left: 0;
  width: 100%;
  height: 325px;
  background-color: rgba(69, 0, 69, 0.855);
}

header{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-div{
  display: flex;
  justify-content: space-around;
  margin-bottom: -25px;
  gap: 10px;
}

.nav-links{
  width: 500px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}


main{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compose-message{
  height: 200px;
}

footer{
  background-color: rgb(21, 21, 21);
  position: relative;
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.site-footer{
  margin-top: 1rem;
}

@media (max-width: 500px){
  .nav-links{
    flex-direction: column;
  }
  .bg-full{
    height: 300px;
  }
  .bg-full::before{
    height: 225px;
  }
}

@media (min-width: 1000px) {
  .bg-full{
    height: 500px;
  }
  .bg-full::before{
    height: 425px;
  }
}